@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Bienvenido a graphics store, una tienda online especializada en graficas para ordenadores. </p>
</div>
